#01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

#02. Importing Datasets

Importing orders_products_combined dataset

In [2]:
path_name = r'/Users/geetika/Documents/Python/Instacart Basket Analysis/02_Data'

In [3]:
df_ord_prod_combined = pd.read_pickle(os.path.join(path_name, 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ord_prod_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
# Dropping columns 'Unnamed: 0' and '_merge'
df_ord_prod_combined = df_ord_prod_combined.drop(columns = ['Unnamed: 0', '_merge'])

In [8]:
df_ord_prod_combined.shape

(32434489, 9)

Importing products_cleaned dataset

In [10]:
df_prods_cleaned = pd.read_csv(os.path.join(path_name, 'Prepared Data', 'products_cleaned.csv'))

In [11]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [19]:
df_prods_cleaned.shape

(49693, 5)

In [12]:
# Dropping columns 'Unnamed: 0'
df_prods_cleaned = df_prods_cleaned.drop(columns = ['Unnamed: 0'])

#03. Merging dataframes

In [13]:
df_ords_prods_merged = df_combined.merge(df_prods_cleaned, on = 'product_id', indicator = True)
# default inner join

In [14]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [15]:
df_ords_prods_merged.shape

(32434212, 14)

In [16]:
# Frequency of merge flags
df_ords_prods_outer_merged = df_combined.merge(df_prods_cleaned, how = 'outer', on = 'product_id', indicator = True)

In [17]:
df_ords_prods_outer_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both

In [18]:
df_ords_prods_outer_merged['_merge'].value_counts()

both          32434212
left_only         2029
right_only          11
Name: _merge, dtype: int64

In [22]:
df_ords_prods_merged.to_pickle(os.path.join(path_name, 'Prepared Data', 'ordersPproducts_merged.pkl'))